<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>

    <ion-card>
      <h2>Firestore message:</h2>
      <span>message: {{(message$ | async)?.body}}</span>
      <ion-input color="primary" value="{{(message$ | async)?.body}}" (ionChange)="messageChangeHandler($event)">
      </ion-input>
      <h2>Functions message:</h2>
      <p>{{functionsMessage?.body}}</p>
      <ion-button (click)="callCloudFunctions()">Get Message</ion-button>
    </ion-card>
  </div>
</ion-content>