<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title translate>
      home.header.title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form action="#" [formGroup]="form">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Firestore</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked" translate>home.firestore.localMessage</ion-label>
          <ion-input formControlName="localMessage"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" translate>home.firestore.remoteMessage</ion-label>
          <ion-input formControlName="remoteMessage" readonly></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Functions</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-button (click)="callCloudFunctions()" translate>home.functions.getMessage</ion-button>
        <div>{{functionsMessage?.body}}</div>
      </ion-card-content>
    </ion-card>

    <div class="ion-text-center">
      <ion-button color="danger" (click)="logout()" translate>home.logout</ion-button>
    </div>
  </form>
</ion-content>